
$white: #ffffff;
$pink: #dfa5f9;
$blue: #096856;
@font-face {
  font-family: 'ESJY';
  src: url('../ESJY.ttf') format('truetype');
}


/*003a32
dfa5f9*/
.noto-sans{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


h2 { font-family: ESJY, sans-serif; }
h1 { font-family: ESJY, sans-serif;
color: $blue }


.h1modal{
  margin-top: 30px;
  }
.h1qui{
  width:80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;

}

.quibtn{
  border-radius: 10px;
  padding:10px 10px 0px 10px  !important;
  width:25%;
text-decoration: none;
  margin-top:40px  !important
  
}
 @media (max-width: 60rem) {
   .quibtn{
      width:80%
     }
}


.quibtn h1 {
  color:$blue;
  text-decoration: none;
        font-size: 30px !important;


}
.quibtn:hover {
  h1 {color:$pink;
  transition: color 0.5s;}
}


p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    font-size: 15px;
}
.activetop{
  color: $pink  !important;
}

.btn{
  padding:10px;
  background-color: $pink;
  color: $blue;
  border: 0;
  padding: 10px;
        margin: 0 auto;
    display: flex;
    justify-content: center;

}



.btn:hover{
  padding:10px;
background-color: $blue;
  color: $pink;
  transition: color 0.5s;
  transition: background-color 0.5s;
}




/* NAVIGATION PORTAIL */

.portnav{
  width:100%;

}

.portitem{
    width:22vw;
    height:60px;
    background-color: $blue;
    color:white;
      font-family: ESJY, sans-serif;
      font-size: 1.2em;
}
 @media (max-width: 30rem) {
   .portitem{
      width:27vw;
     }
    }
.portitem:hover{
  color:$pink;
    transition: color 0.5s;


}

.card-text{

      text-align: center
}

/* MODAL POPUP */

.modal{
}
.modal-header{
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  width:100%;
}
.md1{
  background-image: url('../images/CD/CDcover.jpg');  
}
.md2{
  background-image: url('../images/EAIE/EAIE20243.jpg');  
}
.md3{
  background-image: url('../images/mep/mepcover.jpg');  
}.md4{
  background-image: url('../images/annif/Boriscover.jpg');  
}
.md5{
  background-image: url('../images/Logos/logocover.jpg');  
}
.mh1{
  background-image: url('../images/mep/mep4.jpg');  
}
.mh2{
  background-image: url('../images/illustration/illustrationcover.jpg');  
}
.mh3{
  background-image: url('../images/photos/photo6.jpg');  
}.mh4{
  background-image: url('../images/Portfolioimg/photo4.jpg');  
}
.mw1{
  background-image: url('../images/CD/CDcover.jpg');  
}
.mw2{
  background-image: url('../images/space/space6.jpg');  
}
.mw3{
  background-image: url('../images/it-school/IT-school1.jpg');  
}.mw4{
  background-image: url('../images/Pharma/pharmacover.jpg');  
}


.modal-body{
  padding:5%;
}

.modal-footer{
  background-color: $blue;
}

.menutop{
  font-family: ESJY, sans-serif;
  font-size: 2em;
  padding:  0 7% 0 7%
 

}
.navbar{
    background-color: $blue !important;
     
}

.linktop{
  color:white;
  margin-right:50px;

}
.linktop:hover{
  color:$pink;
    transition: color 0.5s;


}
.logo{
  height:50px;
}

.iconesdr{
  float: right;


}

.navbar-collapse {
    flex-basis: 100%;
     flex-grow: 0; 
     align-items: none;
     }


 .modalcard{
      width:20rem;
     }

     .maincard{
        width:24rem;

     }


     /* QUI */

     #descr{
      width:80%;
      margin: 0 auto;
      padding-top:5%;
     }

     .profil{
      width:400px;
     }

     .desctxt{
      width:40%
     }

     @media (max-width: 60rem) {
   .desctxt{
      width:90%
     }
}

.iconquidiv{
  width:60%;
  margin: 0 auto;

}
.iconqui img{
  width:100%;
}
.iconqui{
    width:150px;
    margin: 30px;

}

.iconqui:hover{
    .nul{
      display:flex;
    }
    .go{
      display:none;
      
    }

}
   


.nul{
      display:none;
}

.quism{
  margin-right:20px;
 
}


     /* PARALLAX */

  

.scene {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}



footer{
  width:100%;
  height:120px;
  background-color: $blue;
        margin-top: 5%;
        opacity: 50%;

}

.footerref{
  color: $white;
  opacity: 1;
  margin-right:20%;
  padding-top:50px;
  float: right;
}
.footerref a{
  color: $pink;
}
